div{
    padding: 10px;
}

.button-purple {
    background: #cc99ff;
    border-radius: 100px;
}

.button-xsmall {
    font-size: 70%;

}

.button-small {
    font-size: 85%;

}

.button-large {
    font-size: 110%;

}

.button-xlarge {
    font-size: 125%;

}
